<div class="card-header bg-danger text-light">
        <h5>Add New Retrospective</h5>
</div>
<div class="mainContainer">
        <form class="form-horizontal" novalidate (ngSubmit)="CreateNewRetrospective()" [formGroup]="retrospectiveForm">
                <div class="formcontainer">                       
                        <div class="form-group" [ngClass]="{'has-error': ((retrospectiveForm.get('Name').touched || retrospectiveForm.get('Name').dirty) && !retrospectiveForm.get('Name').valid)}">
                                <div class="col-md-12 example-container">
                                    <mat-form-field>
                                    <input  matInput id="nameId" type="text" placeholder="Project name (required)" formControlName="Name"
                                    />
                                    </mat-form-field>
                                    <span class="help-block" *ngIf="(retrospectiveForm.get('Name').touched ||retrospectiveForm.get('Name').dirty) && retrospectiveForm.get('Name').errors">
                                    <span ng-class="ng-invalid"  *ngIf="retrospectiveForm.get('Name').errors.required">
                                        Please enter a name.
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': ((retrospectiveForm.get('Summary').touched || retrospectiveForm.get('Summary').dirty) && !retrospectiveForm.get('Summary').valid)}">
                                    <div class="col-md-12 example-container">
                                        <mat-form-field>
                                        <input  matInput id="summaryId" type="text" placeholder="Summary name (required)" formControlName="Summary"
                                        />
                                    </mat-form-field>
                                        <span class="help-block" *ngIf="(retrospectiveForm.get('Summary').touched ||retrospectiveForm.get('Summary').dirty) && retrospectiveForm.get('Summary').errors">
                                        <span ng-class="ng-invalid"  *ngIf="retrospectiveForm.get('Summary').errors.required">
                                            Please enter a summary.
                                        </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error': ((retrospectiveForm.get('Participants').touched || retrospectiveForm.get('Participants').dirty) && !retrospectiveForm.get('Participants').valid)}">
                                        <div class="col-md-12 example-container">
                                            <mat-form-field>
                                            <input  matInput id="ParticipantId" type="text" placeholder="Participants name (required)" formControlName="Participants"
                                            />
                                        </mat-form-field>
                                            <span class="help-block" *ngIf="(retrospectiveForm.get('Participants').touched ||retrospectiveForm.get('Participants').dirty) && retrospectiveForm.get('Participants').errors">
                                            <span ng-class="ng-invalid"  *ngIf="retrospectiveForm.get('Participants').errors.required">
                                                Please enter a Participants.
                                            </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': ((retrospectiveForm.get('Date').touched || retrospectiveForm.get('Date').dirty) && !retrospectiveForm.get('Date').valid)}">
                                            <div class="col-md-12 example-container">
                                                <mat-form-field>
                                                <input id="dateId"  matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="Date"
                                                />
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker></mat-datepicker>
                                            </mat-form-field>
                                                <span class="help-block" *ngIf="(retrospectiveForm.get('Date').touched ||retrospectiveForm.get('Date').dirty) && retrospectiveForm.get('Date').errors">
                                                <span ng-class="ng-invalid"  *ngIf="retrospectiveForm.get('Date').errors.required">
                                                    Please select a date.
                                                </span>
                                                </span>
                                            </div>
                                        </div>
                        
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    <span>
                                  <button  type="submit" class="btn btn-success" [disabled]="!retrospectiveForm.valid">
                                      Create
                                  </button>
                                  <button class="btn btn-danger" mat-dialog-close>Cancel</button>
                               </span>
                                </div>
                            </div>
                </div>
        </form>
</div>


 <!-- <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
